
                  <div>
                  {{userinChatroom}}
                      <div class = "col-xs-9 text center">
                        <p>{{this.loginUser}}  . {{this.croom}} </p>
                                <input type="hidden" id="loggedUser" value= {{this.loginUser}}>
                                <input type="hidden" id="chatroom" value= {{this.croom}}>                         
                      </div>
                  </div>
<ul id="messages"></ul>
    <span id="notifyUser"></span>
    <form id="form" action="" onsubmit="return submittoChatroomfunction();" > 
     
      <input type="hidden" id="looser_user" value= {{userinChatroom.loginUser}} /><input id="msgbox" autocomplete="off" onkeyup="notifyTyping();" placeholder="Type yor message here.." /><input type="submit" id="button" value="Send"/> 
    </form>

   